:host {
  display: block;
  margin: 1rem;
}

.summary-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.edit-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
