:host {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: min-content;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

button {
  margin: 0.1rem;
}

::ng-deep .mdc-tooltip {
  white-space: pre-line !important;
}

// This does not work somehow...
.custom-tooltip {
  //font-size: 60px !important;
  //line-height: 60px !important;
}
