* {
    //border: 2px solid red;
}

:host {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}

.hidden {
    display: none;
}

main {
    height: 100%;
}