<header>
  <mat-toolbar color="primary">
    <span>{{ title }}</span>
    <span class="spacer"></span>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Recipies</mat-label>
      <mat-select [(value)]="data.steps">
        @for(stepsSelect of stepsSelects; track stepsSelect){
        <mat-option [value]="stepsSelect.value">
          {{ stepsSelect.label }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
</header>
<main>
  <mat-tab-group id="tab-group" headerPosition="below">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>edit</mat-icon>
      </ng-template>
      @for(ingredient of data.ingredients; track ingredient;){
      <app-ingredient-input [ingredient]="ingredient"></app-ingredient-input>
      }
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>change_history</mat-icon>
      </ng-template>
      <app-flex-graph [dataPointsRows]="dataPointsRows"></app-flex-graph>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>table_chart</mat-icon>
      </ng-template>
      <app-table [dataPoints]="dataPoints"></app-table>
    </mat-tab>
  </mat-tab-group>
</main>

<router-outlet class="hidden"></router-outlet>
