<header>
  <mat-toolbar color="primary">
    <span>{{ title }}</span>
    <span class="spacer"></span>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Steps</mat-label>
      <mat-select [(value)]="data.steps">
        @for(stepsValue of stepsValues; track stepsValue){
        <mat-option [value]="stepsValue">
          {{ stepsValue }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
</header>
<main>
  <mat-tab-group id="tab-group" headerPosition="below">
    <mat-tab label="Ingredients">
      @for(ingredient of data.ingredients; track ingredient;){
      <app-ingredient-input [ingredient]="ingredient"></app-ingredient-input>
      }
    </mat-tab>
    <mat-tab label="Graph">
      <app-graph></app-graph>
    </mat-tab>
    <mat-tab label="Table">
      <app-table [dataPoints]="dataPoints"></app-table>
    </mat-tab>
  </mat-tab-group>
</main>

<router-outlet class="hidden"></router-outlet>
