<header>
  <mat-toolbar color="primary">
    <span>{{title}}</span>
  </mat-toolbar>
</header>
<main>
  <mat-tab-group id="tab-group" headerPosition="below">
    <mat-tab label="Ingredients">
      @for(ingredient of ingredients; track ingredient; let index = $index){
        <h3>N°{{index + 1}}</h3>
        <app-ingredient-input [ingredient]="ingredient"></app-ingredient-input>
      }
    </mat-tab>
    <mat-tab label="Graph">
      <app-graph></app-graph>
    </mat-tab>
    <mat-tab label="Table">
      <app-table [ingredients]="ingredients"></app-table>
    </mat-tab>
  </mat-tab-group>
</main>

<router-outlet class="hidden"></router-outlet>